NEXT_PUBLIC_AWS_REGION=eu-west-1
NEXT_PUBLIC_IDENTITY_POOL_ID=
NEXT_PUBLIC_DOCS_BUCKET_NAME=
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_AGENTCORE_URL=
NEXT_PUBLIC_USER_POOL_ID=
NEXT_PUBLIC_USER_POOL_CLIENT_ID=
